@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Cormorant Garamond', cursive;
}

.app {
  width: 100%;
  height: 100vh;

  .body {
    height: 100%;
  }
}